<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @song.name %></h1>
<h3>Song Artist: </h3>
<ul>
    <li>
        <a href="/artists/<%= @song.artist.slug%>"><%= @song.artist.name %></a>
    </li>
</ul>
<h3>Song Genre(s): </h3>
<% @song.genres.each do |genre|%>
<ul>
    <li>
        <a href="/genres/<%= genre.slug%>"><%= genre.name %></a>
    </li>
</ul>
<% end %>

